@model   SitefinityWebApp.Mvc.Models.UtilityNav.UtilityNavViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

@*<ul class="top-menu list @Model.CssClass">
    @foreach (var item in Model.)
    {
        <li class="top-menu__item top-menu__item--contact list__item">
            <a href="@Html.Raw(Model)" class="top-menu__item__link list__item__link" id="top-menu__contact">
                <span class="top-menu__item__link__label">Contact</span>
            </a>
        </li>
    }
</ul>*@